<p>
	<strong>Author:</strong>
   	<%= comment.commenter %>
 	<br />
    <strong>Comment:</strong>
   	<%= comment.body %>
   	<br />
   	<%= link_to "Delete comment", [comment.post, comment], method: :delete, data: { confirm: 'Are you sure?' } %>
</p>	